<div class="wrapper-md" ng-controller="JobListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li style=" padding-top:4px; padding-right:4px">
                    <button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.jobs.create()"><i
                            class="fa fa-plus"></i>新增
                    </button>
                </li>
            </ul>
            职位列表
        </div>
        <div class="row wrapper">
            <div class="col-sm-5 m-b-xs">
                <select class="input-sm form-control w-sm inline v-middle" ng-model="operate" ng-init="operate=0">
                    <option value="0">---</option>
                    <option value="1">删除所选记录</option>
                </select>
                <button class="btn btn-sm btn-default" ng-click="exec()">执行</button>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="Search" ng-model="search_context">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" ng-click="search()" type="button">Go!</button>
          </span>
                </div>
            </div>
        </div>
        <div class="table-responsive" ng-if="data.total>0">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th style="width:20px;">
                        <label class="i-checks m-b-none">
                            <input type="checkbox" ng-click="selectAll()"><i></i>
                        </label>
                    </th>
                    <th>名称</th>
                    <th>类型</th>
                    <th>最低月薪</th>
                    <th>最高月薪</th>
                    <th>发布时间</th>
                    <th>公司</th>
                    <th>状态</th>
                    <th style="width:30px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in data.rows">
                    <td><label class="i-checks m-b-none"><input type="checkbox" ng-model="data.selected"><i></i></label>
                    </td>
                    <td>{{data.name}}</td>
                    <td>{{data.type.name}}</td>
                    <td>{{data.low_salary}}</td>
                    <td>{{data.high_salary}}</td>
                    <td>{{formatDate(data.post_time) | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                    <td>{{data.post_company.company_name}}</td>
                    <td>
                        <span class="label bg-success" ng-if="data.status == 1" title="Active">运行中</span>
                        <span class="label bg-warning" ng-if="data.status == 0" title="Suspended">未运行</span>
                    </td>
                    <td>
                        <a ui-sref="app.jobs.detail({id:data.id})" class="active"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <small class="text-muted inline m-t-sm m-b-sm">{{data.total}}条记录</small>
                </div>
                <div ng-if="maxPage >= 1" class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li ng-class="{disabled:page_index <= 1}">
                            <a ui-sref="app.jobs.list({page:page_index-1,search:search_context})">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        <li ng-repeat="page in pages" ng-class="{active:page==page_index}">
                            <a ui-sref="app.jobs.list({page:page,search:search_context})">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:page_index >= maxPage}">
                            <a ui-sref="app.jobs.list({page:page_index+1,search:search_context})">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
