<div class="sui-navbar">
    <div class="navbar-inner"><a href="#" class="sui-brand">首页</a>
        <ul class="sui-nav">
            <li class="active"><a href="#">首页</a></li>
            <li class="sui-dropdown"><a href="javascript:void(0);" data-toggle="dropdown" class="dropdown-toggle">其他 <i
                    class="caret"></i></a>
                <ul role="menu" class="sui-dropdown-menu">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">关于</a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">版权申明</a></li>
                </ul>
            </li>
        </ul>
        <form class="sui-form sui-form pull-right">
            <input type="text" placeholder="输入公司或职位...">
            <button class="sui-btn">搜索</button>
        </form>
    </div>
</div>