@charset "UTF-8";
* {
    font-family: "微软雅黑";
    text-decoration: none;
}

a {
    color: black;
}

body {
    background: #F8F8F8;
}

.big {
    min-height: 100%;
    min-width: 1024px;
}

.font1 {
    font-size: 19px;
}

.font2 {
    font-size: 19px;
    color: red;
}

.font1:hover {
    color: cornflowerblue;
}

a:hover {
    text-decoration: none;
}

#hrefs ul {
    list-style: none;
}

#hrefs ul li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 30px;
    height: 60px;
    line-height: 60px;
}

#login {
    line-height: 60px;
}

#login a {
    color: blue;
}

#header {
    height: 70px;
    background-color: white;
    margin-bottom: 15px;
}

.weekTable {
    font-size: 15px;
    text-align: center;
}

.weekTable tr {
    height: 30px;
    line-height: 30px;
}

.weekTable tr td {
    border: 1px solid #999999;
    width: 100px;
}

#div1 {
    display: inline-block;
}

#photo {
    width: 30px;
    height: 30px;
    border: 1px solid #999999;
    border-radius: 15px;
}

#list {
    list-style-type: none;
    display: none;
    z-index: 100;
    position: absolute;
    width: 150px;
    padding: 0;
    margin-left: 10px;
    background: #F8F8F8;
}

#list a {
    color: #555;
    line-height: 15px;
}

#inputDiv {
    width: 100%;
    height: 40px;
    line-height: 40px;
    margin-top: 12px;
}

#input {
    height: 100%;
    outline: none;
    width: 85%;
    border: 2px solid red;
    padding-left: 10px;
    font-size: 16px;
    float: left;
}

#searchBtn {
    outline: none;
    width: 15%;
    background: red;
    color: white;
    float: left;
    border: none;
    height: 40px;
    font-size: 18px;
}

.font3 {
    color: #999999;
    font-size: 14px;
}

.font4 {
    color: red;
    font-size: 17px;
    font-weight: bold;
}

.font5 {
    color: #5f5f5f;
}

.font6 {
    color: #7aee6a;
    font-size: 40px;
}

#right {
    position: absolute;
    top: 45%;
    right: 10px;
}

#footer {
    clear: both;
    width: 100%;
    height: 100px;
    background: #606da2;
    margin-top: 30px;
    text-align: center;
    color: white;
}

#footer li {
    list-style-type: none;
}

.shade {
    position: absolute;
    background: grey;
    z-index: 50;
    display: none;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    -moz-opacity: 0.5;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.pop {
    position: absolute;
    top: 20%;
    left: 30%;
    background: white;
    z-index: 100;
    width: 400px;
    height: 250px;
    display: none;
    border: 5px solid grey;
}

.popTitle {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: white;
    background: rebeccapurple;
    padding-left: 40px;
    font-weight: bold;
    font-size: 18px;
}

.popBody {
    width: 100%;
    height: 100px;
    padding-top: 10px;
    text-align: center;
}

.popBody input {
    width: 80%;
    margin: 0 auto;
}

.popBody button {
    width: 100px;
    margin: 0 auto;
    margin-left: 10px;
    margin-right: 10px;
}

#container {
    background: white;
}

#stBar {
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid grey;
}

.selectType {
    height: 30px;
    line-height: 30px;
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.selectType ul {
    list-style-type: none;
    margin: 0;
}

.selectType ul li {
    float: left;
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    margin-left: 15px;
}

.selectType ul li:hover {
    background: #337ab7;
    color: white;
    border-radius: 5px;
}

.on {
    background: #337ab7;
    color: white;
    border-radius: 5px;
}

#resumeTable {
    margin-top: 20px;
}

.job_item {
    width: 100%;
    height: 100px;
    border-bottom: 1px solid #cccccc;
    background: white;
    padding: 10px;
    cursor: pointer;
    display: none;
}

.job_item:hover {
    background: #F8F8F8;
}

.job_item table {
    width: 100%;
}

.job_item table tr {
    height: 40px;
    line-height: 40px;
}

.activeTitle {
    font-weight: bold;
    color: #7a43b6;
}

.preview {
    width: 750px;
    height: auto;
    padding: 10px;
    display: none;
}

.contentDiv {
    width: 100%;
    height: 20px;
    margin-bottom: 8px;
}

#carousel {
    width: 100%;
}