@charset "UTF-8";
#well {
    width: 85%;
    min-width: 400px;
    margin: 0 auto;
}

#regForm {
    margin: 0 auto;
    margin-top: 30px;
}

#regForm {
    width: 40%;
}

#zhuce {
    width: 100%;
}

#varifyDiv {
    float: left;
    margin-right: 15px;
    width: 140px;
}

#checkDiv {
    clear: both;
}