<div class="wrapper-md" ng-controller="ResumeListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li style=" padding-top:4px; padding-right:4px">
                    <button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.resumes.create()"><i
                            class="fa fa-plus"></i>新增
                    </button>
                </li>
            </ul>
            简历列表
        </div>
        <div class="row wrapper">
            <div class="col-sm-3 m-b-xs">
                <select class="input-sm form-control w-sm inline v-middle" ng-model="operate" ng-init="operate=0">
                    <option value="0">---</option>
                    <option value="1">删除</option>
                </select>
                <button class="btn btn-sm btn-default" ng-click="exec()">执行</button>
            </div>
            <div class="col-sm-6">
                <select class="input-sm form-control w-sm inline v-middle" ng-model="grade" ng-init="grade=0" ng-change="change()">
                    <option value="0">不限</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                </select>
                <select class="input-sm form-control w-sm inline v-middle" ng-model="salary" ng-init="salary=''" ng-change="change()">
                    <option value="">不限</option>
                    <option value="500元以下">500元以下</option>
                    <option value="500-1000">500-1000</option>
                    <option value="1000-2000">1000-2000</option>
                    <option value="2000-3000">2000-3000</option>
                    <option value="3000-4000">3000-4000</option>
                    <option value="4000以上">4000以上</option>
                </select>
                <select class="input-sm form-control w-sm inline v-middle" ng-model="school" ng-init="school=0" ng-change="change()">
                    <option value="0">不限</option>
                    <option value="{{item.id}}" ng-repeat="item in schools">
                        {{item.school}}
                    </option>
                </select>
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="输入姓名" ng-model="search_context">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" ng-click="search()" type="button">Go!</button>
          </span>
                </div>
            </div>
        </div>
        <div class="table-responsive" ng-if="data.total>0">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th style="width:20px;">
                        <label class="i-checks m-b-none">
                            <input type="checkbox" ng-click="selectAll()"><i></i>
                        </label>
                    </th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>生日</th>
                    <th>专业</th>
                    <th>年级</th>
                    <th>薪资要求</th>
                    <th style="width:30px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in data.rows">
                    <td><label class="i-checks m-b-none"><input type="checkbox" ng-model="data.selected"><i></i></label>
                    </td>
                    <td>{{data.name}}</td>
                    <td>{{data.sex}}</td>
                    <td>{{formatDate(data.birthday) | date:'yyyy-MM-dd'}}</td>
                    <td>{{data.major.major}}</td>
                    <td>{{data.grade}}</td>
                    <td>{{data.salary}}</td>
                    <td>
                        <a ui-sref="app.resumes.detail({id:data.id})" class="active"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <small class="text-muted inline m-t-sm m-b-sm">{{data.total}}条记录</small>
                </div>
                <div ng-if="maxPage >= 1" class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li ng-class="{disabled:page_index <= 1}">
                            <a ui-sref="app.resumes.list({page:page_index-1,filter:search_context,grade:grade,salary:salary,school:school})">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        <li ng-repeat="page in pages" ng-class="{active:page==page_index}">
                            <a ui-sref="app.resumes.list({page:page,filter:search_context,grade:grade,salary:salary,school:school})">{{page}}</a>
                        </li>
                        <li ng-class="{disabled:page_index >= maxPage}">
                            <a ui-sref="app.resumes.list({page:page_index+1,filter:search_context,grade:grade,salary:salary,school:school})">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
