<div class="wrapper-md" ng-controller="ResumeListController">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-pills pull-right">
                <li style=" padding-top:4px; padding-right:4px">
                    <button class="btn m-b-xs btn-sm btn-primary btn-addon" ui-sref="app.resumes.create()"><i
                            class="fa fa-plus"></i>新增
                    </button>
                </li>
            </ul>
            简历列表
        </div>
        <div class="row wrapper">
            <div class="col-sm-5 m-b-xs">
                <select class="input-sm form-control w-sm inline v-middle" ng-model="operate" ng-init="operate=0">
                    <option value="0">---</option>
                    <option value="1">删除所选记录</option>
                </select>
                <button class="btn btn-sm btn-default" ng-click="exec()">执行</button>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-3">
                <div class="input-group">
                    <input type="text" class="input-sm form-control" placeholder="Search" ng-model="search_context">
          <span class="input-group-btn">
            <button class="btn btn-sm btn-default" ng-click="search()" type="button">Go!</button>
          </span>
                </div>
            </div>
        </div>
        <div class="table-responsive" ng-if="data.total>0">
            <table class="table table-striped b-t b-light">
                <thead>
                <tr>
                    <th style="width:20px;">
                        <label class="i-checks m-b-none">
                            <input type="checkbox" ng-click="selectAll()"><i></i>
                        </label>
                    </th>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>生日</th>
                    <th>专业</th>
                    <th>年级</th>
                    <th>薪资要求</th>
                    <th style="width:30px;"></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="data in data.rows">
                    <td><label class="i-checks m-b-none"><input type="checkbox" ng-model="data.selected"><i></i></label>
                    </td>
                    <td>{{data.name}}</td>
                    <td>{{data.sex}}</td>
                    <td>{{formatDate(data.birthday) | date:'yyyy-MM-dd'}}</td>
                    <td>{{data.major.major}}</td>
                    <td>{{data.grade}}</td>
                    <td>{{data.salary}}</td>
                    <td>
                        <a ui-sref="app.resumes.detail({id:data.id})" class="active"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <footer class="panel-footer">
            <div class="row">
                <div class="col-sm-8 text-left">
                    <small class="text-muted inline m-t-sm m-b-sm">{{data.total}}条记录</small>
                </div>
                <div ng-if="data.page>1" class="col-sm-4 text-right text-center-xs">
                    <ul class="pagination pagination-sm m-t-none m-b-none">
                        <li ng-class="{disabled:!data.previous}"><a
                                ui-sref="app.users.list({page:data.page_index-1,search:search_context})"><i
                                class="fa fa-chevron-left"></i></a></li>
                        <li ng-repeat="page in data.pages" ng-class="{active:page==data.page_index}"><a
                                ui-sref="app.users.list({page:page,search:search_context})">{{page}}</a></li>
                        <li ng-class="{disabled:!data.next}"><a
                                ui-sref="app.users.list({page:data.page_index+1,search:search_context})"><i
                                class="fa fa-chevron-right"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>
</div>
