<div ng-controller="DetailController">
    <div class="wrapper-md" >
        <div class="panel panel-default">
            <form class="form-horizontal ng-pristine ng-valid ng-valid-date ng-valid-required ng-valid-parse ng-valid-date-disabled" ng-submit="submit()">
                <div class="panel-body">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="data.username" required>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!edit_mode">
                        <label class="col-sm-2 control-label">密码</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="data.password" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">学号</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="data.school_num" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">昵称</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" ng-model="data.nickname" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">手机号</label>
                        <div class="col-sm-4">
                            <input type="tel" class="form-control" ng-model="data.phone" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱</label>
                        <div class="col-sm-4">
                            <input type="email" class="form-control" ng-model="data.email" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别</label>
                        <div class="col-sm-4">
                            <select class="input-sm form-control w-sm inline v-middle" ng-model="data.sex">
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">推送</label>
                        <div class="col-sm-4">
                            <input type="checkbox" ng-model="data.push" required>
                        </div>
                    </div>
                </div>
                <footer class="panel-footer text-right bg-light lter">
                    <input type="button" ng-click="delete(data.id)" ng-if="edit_mode" class="btn btn-danger pull-left" value="删除"/>
                    <input type="submit" class="btn btn-success" value="提交"/>
                </footer>
            </form>
        </div>
    </div>
</div>